{% load static %}
<section id="pricing" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Destaques</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInLeft" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-eye"></i>
              </div>
              <div class="pricing-header">
              </div>
              <div class="title">
                <h3>Sancionada lei que classifica visão monocular como deficiência visual</h3>
                <p1>A lei que classifica a visão monocular como deficiência visual foi sancionada
                   pelo presidente Jair Bolsonaro. A Lei 14.126/21,baseada em proposta do senador 
                   Rogério Carvalho (PT-SE), foi publicada na edição de hoje do Diário Oficial da União.</p1>                
              </div>
              <a href="https://www.camara.leg.br/noticias/738508-sancionada-lei-que-classifica-visao-monocular-como-deficiencia-visual/" class="btn btn-common mt-3">Saiba mais</a>    
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 active">
            <div class="table wow fadeInUp" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-wheelchair"></i>
              </div>
              <div class="pricing-header">
              </div>
              <div class="title">
                <h3>Deficientes e a lei de inclusão: o que precisamos saber</h3>
                <p3> inclusão social é uma medida de controle social que visa à integração
                    de pessoas excluídas e marginalizada na sociedade. A obrigatoriedade
                    de adptaçoes a instituições publicas e privadas,somente ocorreu com 
                    a promulgação da Lei 13.146/2015, chamada Lei Brasileira
                    de Inclusão. </p3>
              </div>
              <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13146.htm" class="btn btn-common mt-3">Saiba mais</a> 
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="table wow fadeInRight" data-wow-delay="1.2s">
              <div class="icon-box">
                <i class="lni-user"></i>
              </div>
              <div class="pricing-header">
              </div>
                <div class="title">
                <h3>LER e DORT são as doenças que mais acometem os trabalhadores, aponta estudo</h3>
                <p1>As Lesões por Esforços Repetitivos (LER) e os Distúrbios Osteomusculares Relacionados
                   ao Trabalho (DORT) são as doenças que mais afetam os trabalhadores brasileiros. A constatação é do estudo Saúde Brasil 2018, do Ministério da Saúde.</p1>>
              </div>
                <a href="https://www.gov.br/saude/pt-br/assuntos/noticias/ler-e-dort-sao-as-doencas-que-mais-acometem-os-trabalhadores-aponta-estudo" class="btn btn-common mt-3">Saiba mais</a> 
            </div>
          </div>
        </div>
      </div>
    </section>