{% load static %}
<div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <!--p class="mb-3">Manage Statistics</p-->
                  <h2 class="section-title">Em breve</h2>
                </div>
                <div class="content">
                  <p>
                    Unidade, que conta com um investimento de R$ 23,5 milhões, também é considerada como a 3ª  maior da unidade federativa; início das obras está previsto para março deste ano
                  </p>
                  <a href="https://www.imparcial.com.br/noticias/rede-lucy-montoro-de-prudente-sera-a-mais-moderna-em-tecnologia-e-tratamentos-do-estado,49197" class="btn btn-common mt-3">Saiba mais</a>                
                </div>
              </div>
            </div>
          </div>
          <div class="row"data-wow-delay="0.3s" >
            <div class="coluna">          
            <img class="img-fluid" src="{% static 'img/about/img-4.jpg' %}" alt="" >
            <img class="img-fluid" src="{% static 'img/about/img-5.jpg' %}" alt="" >
          </div>
        </div>
      </div>
    </div>
	
	
	
