{% load static %}
<section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Localidades Acessiveis</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-left">
              <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">               
                </span>
                <div class="text">
                  <h4>Pizzaria Dona Oliva</h4>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59134.81514776925!
                    2d-51.43464522089846!3d-22.128798999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
                    1s0x9493f44561a8692f%3A0xa8f82d22d2261c8a!2sDonna%20Oliva%20Pizzaria!5e0!3m2!1spt-BR!2sbr!4v1637618358927
                    !5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </p>
                  <p>Estacionamento limitado</p>
                  <p>Acessibilidade</p>
                  <p>Av. Quatorze de Setembro 1500</p>
                  <p></p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.6s">               
                </span>
                <div class="text">
                  <h4>Centro Cultural Matarazzo</h4>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3696.135107814493!2d-51.38165118558058!
                    3d-22.120823815857182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f5b0b9313d6d%3A0x99a0d493af6bfea5!
                    2sCentro%20Cultural%20Matarazzo!5e0!3m2!1spt-BR!2sbr!4v1637620430140!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                  <p>Ambo estacionamento</p>
                  <p>Acessibilidade</p>
                  <p>Rua Quintino Bocaiúva 749 </p>
                </div>
              </div>
              <div class="box-item wow fadeInLeft" data-wow-delay="0.9s">                
                </span>
                <div class="text">
                  <h4>Churrascaria Guaiba</h4>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59136.
                    307046983515!2d-51.461244347124605!3d-22.125244011943195!2m3!1f0!2f0!3f0!
                    3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f456fb901897%3A0xbb961f34c1696ecb!
                    2sChurrascaria%20Gua%C3%ADba!5e0!3m2!1spt-BR!2sbr!4v1637539646514!5m2!1spt-BR!
                    2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                  <p>Ambo estacionamento</p>
                  <p>Acessibilidade</p>
                  <p>Rua Jose Bongiovani 76 </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">           
            <div class="show-box wow fadeInUp" data-wow-delay="0.3s"> 
              <img src="{% static 'img/feature/pp-1.jpg' %}" alt="">
              <img src="{% static 'img/feature/pp-2.jpg' %}" alt="">              
              <img src="{% static 'img/feature/pp-3.jpg' %}" alt="">
              <img src="{% static 'img/feature/pp-4.jpg' %}" alt="">
              

            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-right">
              <div class="box-item wow fadeInRight" data-wow-delay="0.3s">               
                </span>
                <div class="text">
                  <h4>Sorveteria Castello</h4>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!
                    1d59148.5996903043!2d-51.44672527078398!3d-22.095931676366842!2m3!
                    1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f4003f4fffff%3A0x78c02116e523866a!
                    2sSorveteria%20Castelo!5e0!3m2!1spt-BR!2sbr!4v1637544425349!5m2!1spt-BR!
                    2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                  <p>Estacionamento limitado</p>
                  <p>Acessibilidade</p>
                  <p>Av. Ana Jacinta 1888</p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.6s">                
                </span>
                <div class="text">
                  <h4>Bar da 12</h4>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3696.256419714055!2d-51.39495968558067!
                    3d-22.11619701569643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f435b67b3789%3A0xfeb95599400ae3f0!
                    2sBar%20da%2012!5e0!3m2!1spt-BR!2sbr!4v1637622186584!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                  <p>Estacionamento Limitado</p>
                  <p>Acessibilidade</p>
                  <p> Rua 12 De Outubro 1218</p>
                </div>
              </div>
              <div class="box-item wow fadeInRight" data-wow-delay="0.9s">                
                </span>
                <div class="text">
                  <h4>Prudenshopping</h4>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3696.260509519729!2d-51.40923678558059!
                    3d-22.116041015691042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f43dcb839edf%3A0x4938875dc526bddd!
                    2sPrudenshopping!5e0!3m2!1spt-BR!2sbr!4v1637619660240!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
                  <p>Ambo estacionamento</p>
                  <p>Acessibilidade</p>
                  <p>Av. Manoel Goulart 2400</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>