{% load static %}
<footer id="footer" class="footer-area section-padding">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="footer-logo"><img src="{% static 'img/logo2.2.jpg' %}" alt=""></h3>
                <div class="textwidget">
                  <p>Um novo jeito de andar pela cidade.</p>
                </div>
                <div class="social-icon">
                  <a class="facebook" href="#"><i class="lni-facebook-filled"></i></a>
                  <a class="twitter" href="#"><i class="lni-twitter-filled"></i></a>
                  <a class="instagram" href="#"><i class="lni-instagram-filled"></i></a>
                  <!--a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a-->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
             </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <h3 class="footer-titel">Contato</h3>
              <ul class="address">
                <li>
                  <a href="#"><i class="lni-map-marker"></i> Rod. Comendador Alberto Bonfiglioli, 2700 - Jardim Itaipu, Pres. Prudente</a>
                </li>
                <li>
                  <a href="#"><i class="lni-phone-handset"></i> P: 18 3846 25 50</a>
                </li>
                <li>
                  <a href="#"><i class="lni-envelope"></i> E: contact@uideck.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-content">
                <p>Copyright © 2020 <a rel="nofollow" href="https://uideck.com">UIdeck</a> All Right Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>